
body {
    font-family:'Times New Roman', Times, serif;
    width: 100%; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, lightblue, rgb(255, 0, 247));
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#pic {
width:750px;
}

#info {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    text-align: justify;
    font-size: 18px;
}

header {
    width: 90%;
}

.link {
    color:maroon;
    display: flex;
    justify-content: space-between;
}